// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
	font-size:14px;
	font-height:normal;
}

nav.navbar.navbar-expand-lg{
	margin-top:20px;
	margin-bottom:20px;
}

footer{
	margin-top:45px;
	padding-top:5px;
	border-top:1px solid #eaeaea;
	color:#777;
	font-size:13px;
	font-weight:bold;

	a{
		color:#555;
	}

	a:hover{
		color:#222;
	}

	img.brand-icon{
		width:17px;
		height:17px;
	}

}

.gravatar{
	max-width:50px;
	border-radius:50%;
}

section.user_info{
	text-align:center;

	h1{
		font-size:1.4em;
		margin-top:15px;
	}
}

.gravatar_edit{
	margin:15px auto;
	text-align:center;

	.gravatar{
		max-width:100px;
	}
}

.stats{
	overflow:auto;

	a{
		float:left;
		padding:0 10px;
		text-align:center;
		border-left:1px solid #eee;
		width:33%;
		&:first-child{
			border:0;
		}
		&:hover{
			color:#337ab7;
		}

	}

	strong{
		color:black;
		font-size:1.2em;
		display:block;
	}
}